<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home Automation System</title>
    <meta name="description" content="Circle Hover Effects with CSS Transitions" />
    <meta name="keywords" content="circle, border-radius, hover, css3, transition, image, thumbnail, effect, 3d" />
    <link rel="shortcut icon" href="../favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="static/css/demo.css" /> 
    <link rel="stylesheet" type="text/css" href="static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="static/css/ash_dsg.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />
</head>
<body>
    {% block script %}{% endblock script %}
    <div class="ashish">
        <div class="header" >
          <a href="#default" class="logo">Smart Home Automation System</a>
          <div class="header-right">
            <a class="active" href="#My Dashboard">My Dashboard</a>
            <a href="#Literature">Literature</a>
            <a href="#Login">Login</a>
          </div>
        </div>
    {% block content %}{% endblock content %}
</body>
</html>